<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cd79b3">  <td>20/10/02 15:48:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.ConnectWithUsFooterPageteam8@1a2ca36]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@6233678</td>   <td></td> </tr>
<tr bgcolor="6279ee">  <td>20/10/02 15:48:13</td>   <td>12491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConnectWithUsFooterPageteam8.TC_03_ValidateTheLinksUnderOurCompanySection(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.ConnectWithUsFooterPageteam8@1a2ca36]">TC_03_ValidateTheLinksUnderOurCompanySection</td> 
  <td>main@6233678</td>   <td></td> </tr>
<tr bgcolor="cd79b3">  <td>20/10/02 15:48:13</td>   <td>12725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.ConnectWithUsFooterPageteam8@1a2ca36]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@6233678</td>   <td></td> </tr>
</table>
