<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.dollardays.testcases.DonateTodayTestcase1team8</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC_04_verifyDonateTodayUnderWishlist</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUpBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quit</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.dollardays.testcases.WishlistPageB4loginTestcase</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyCreateawishlistbtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InspectEdicationreliefpacksadDonatenowbtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCityStateandorzipcodefieldfunctionalityvaliddata</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InspectPolkcountrymidschooladDonatenowbtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifysearchbyorganizationtextfieldfunctionalityInvaliddata</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCityStateandorzipcodefieldfunctionalityInvaliddata</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InspectAnnArborPublicSchoolsadDonatenowbtn</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUpBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quit</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.dollardays.testcases.HomePageB4logintestcase</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>WishlistimgTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DonatetodayPageTitleTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateawishlistPageTitleTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>WLLearnMorePageTitleTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUpBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quit</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.dollardays.testcases.HomePageTestcaseTeam8</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testElectronics</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testForwardBackpacks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testFlipFlops</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testOralCare</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testHygieneKits</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPPEGear</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMedicine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tetsTravelSize</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testBabyLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testBigBoxSchoolSupplies</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testBlankets</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testShoes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testToysGames</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testFood</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testFirstAid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSchoolSupplies</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testBackpack</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testKitchenDining</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCleaningSupplies</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testKidsClothing</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUpBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quit</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
