<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c3c66d">  <td>20/10/09 14:36:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageB4logintestcase.CreateawishlistPageTitleTest()[pri:3, instance:com.dollardays.testcases.HomePageB4logintestcase@408d971b]">CreateawishlistPageTitleTest</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c3c66d">  <td>20/10/09 14:36:37</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageB4logintestcase.DonatetodayPageTitleTest()[pri:4, instance:com.dollardays.testcases.HomePageB4logintestcase@408d971b]">DonatetodayPageTitleTest</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:40</td>   <td>3144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.InspectAnnArborPublicSchoolsadDonatenowbtn()[pri:3, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">InspectAnnArborPublicSchoolsadDonatenowbtn</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:40</td>   <td>3171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.InspectEdicationreliefpacksadDonatenowbtn()[pri:4, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">InspectEdicationreliefpacksadDonatenowbtn</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:40</td>   <td>3185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.InspectPolkcountrymidschooladDonatenowbtn()[pri:5, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">InspectPolkcountrymidschooladDonatenowbtn</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="e36ea6">  <td>20/10/09 14:36:47</td>   <td>9340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DonateTodayTestcase1team8.TC_04_verifyDonateTodayUnderWishlist(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.DonateTodayTestcase1team8@3c46e67a]">TC_04_verifyDonateTodayUnderWishlist</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:42</td>   <td>5189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.VerifyCityStateandorzipcodefieldfunctionalityInvaliddata(java.util.Hashtable)[pri:7, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">VerifyCityStateandorzipcodefieldfunctionalityInvaliddata</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:42</td>   <td>5236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.VerifyCityStateandorzipcodefieldfunctionalityInvaliddata(java.util.Hashtable)[pri:7, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">VerifyCityStateandorzipcodefieldfunctionalityInvaliddata</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:42</td>   <td>5250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.VerifyCityStateandorzipcodefieldfunctionalityInvaliddata(java.util.Hashtable)[pri:7, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">VerifyCityStateandorzipcodefieldfunctionalityInvaliddata</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:43</td>   <td>6022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.VerifyCityStateandorzipcodefieldfunctionalityvaliddata(java.util.Hashtable)[pri:9, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">VerifyCityStateandorzipcodefieldfunctionalityvaliddata</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:43</td>   <td>6032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.VerifyCityStateandorzipcodefieldfunctionalityvaliddata(java.util.Hashtable)[pri:9, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">VerifyCityStateandorzipcodefieldfunctionalityvaliddata</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:43</td>   <td>6042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.VerifyCityStateandorzipcodefieldfunctionalityvaliddata(java.util.Hashtable)[pri:9, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">VerifyCityStateandorzipcodefieldfunctionalityvaliddata</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:43</td>   <td>6072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.VerifyCityStateandorzipcodefieldfunctionalityvaliddata(java.util.Hashtable)[pri:9, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">VerifyCityStateandorzipcodefieldfunctionalityvaliddata</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:43</td>   <td>6108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.VerifyCityStateandorzipcodefieldfunctionalityvaliddata(java.util.Hashtable)[pri:9, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">VerifyCityStateandorzipcodefieldfunctionalityvaliddata</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:43</td>   <td>6138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.VerifyCityStateandorzipcodefieldfunctionalityvaliddata(java.util.Hashtable)[pri:9, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">VerifyCityStateandorzipcodefieldfunctionalityvaliddata</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:43</td>   <td>5595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.VerifysearchbyorganizationtextfieldfunctionalityInvaliddata(java.util.Hashtable)[pri:8, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">VerifysearchbyorganizationtextfieldfunctionalityInvaliddata</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:43</td>   <td>5619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.VerifysearchbyorganizationtextfieldfunctionalityInvaliddata(java.util.Hashtable)[pri:8, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">VerifysearchbyorganizationtextfieldfunctionalityInvaliddata</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:43</td>   <td>5647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.VerifysearchbyorganizationtextfieldfunctionalityInvaliddata(java.util.Hashtable)[pri:8, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">VerifysearchbyorganizationtextfieldfunctionalityInvaliddata</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:43</td>   <td>5657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.VerifysearchbyorganizationtextfieldfunctionalityInvaliddata(java.util.Hashtable)[pri:8, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">VerifysearchbyorganizationtextfieldfunctionalityInvaliddata</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:43</td>   <td>5701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.VerifysearchbyorganizationtextfieldfunctionalityInvaliddata(java.util.Hashtable)[pri:8, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">VerifysearchbyorganizationtextfieldfunctionalityInvaliddata</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:43</td>   <td>5749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.VerifysearchbyorganizationtextfieldfunctionalityInvaliddata(java.util.Hashtable)[pri:8, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">VerifysearchbyorganizationtextfieldfunctionalityInvaliddata</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c3c66d">  <td>20/10/09 14:36:37</td>   <td>-17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageB4logintestcase.WLLearnMorePageTitleTest()[pri:2, instance:com.dollardays.testcases.HomePageB4logintestcase@408d971b]">WLLearnMorePageTitleTest</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c3c66d">  <td>20/10/09 14:36:36</td>   <td>-1553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageB4logintestcase.WishlistimgTest()[pri:1, instance:com.dollardays.testcases.HomePageB4logintestcase@408d971b]">WishlistimgTest</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:37</td>   <td>-40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageB4logintestcase@408d971b]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:37</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageB4logintestcase@408d971b]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:37</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageB4logintestcase@408d971b]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:37</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageB4logintestcase@408d971b]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:40</td>   <td>3137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:40</td>   <td>3162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:40</td>   <td>3179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:40</td>   <td>3192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:42</td>   <td>5217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:42</td>   <td>5243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:42</td>   <td>5272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>5608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>5641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>5652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>5696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>5719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>5772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>6030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>6038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>6067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>6088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>6123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>6159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:47</td>   <td>9343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.DonateTodayTestcase1team8@3c46e67a]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12776</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:30</td>   <td>-7147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageB4logintestcase@408d971b]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:37</td>   <td>-23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageB4logintestcase@408d971b]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:37</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageB4logintestcase@408d971b]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:37</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageB4logintestcase@408d971b]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:37</td>   <td>67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:40</td>   <td>3141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:40</td>   <td>3168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:40</td>   <td>3183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:42</td>   <td>5187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:42</td>   <td>5230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:42</td>   <td>5249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>5589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>5612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>5644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>5655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>5700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>5742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>6021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>6031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>6041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>6069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>6106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:43</td>   <td>6133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:44</td>   <td>6325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.DonateTodayTestcase1team8@3c46e67a]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:47</td>   <td>9346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12758</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="ef7869">  <td>20/10/09 14:36:50</td>   <td>12920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testBabyLink()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testBabyLink</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testBackpack()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testBackpack</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testBigBoxSchoolSupplies(java.util.Map)[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testBigBoxSchoolSupplies</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testBlankets()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testBlankets</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testCleaningSupplies()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testCleaningSupplies</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testElectronics()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testElectronics</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testFirstAid()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testFirstAid</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testFlipFlops()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testFlipFlops</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testFood()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testFood</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testForwardBackpacks()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testForwardBackpacks</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testHygieneKits()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testHygieneKits</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testKidsClothing()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testKidsClothing</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testKitchenDining()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testKitchenDining</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testMedicine()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testMedicine</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testOralCare()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testOralCare</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testPPEGear()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testPPEGear</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testSchoolSupplies()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testSchoolSupplies</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testShoes()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testShoes</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.testToysGames()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">testToysGames</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="c49bd9">  <td>20/10/09 14:36:50</td>   <td>12921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTestcaseTeam8.tetsTravelSize()[pri:0, instance:com.dollardays.testcases.HomePageTestcaseTeam8@c730b35]">tetsTravelSize</td> 
  <td>main@868815265</td>   <td></td> </tr>
<tr bgcolor="b08ed1">  <td>20/10/09 14:36:40</td>   <td>3124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WishlistPageB4loginTestcase.verifyCreateawishlistbtn()[pri:1, instance:com.dollardays.testcases.WishlistPageB4loginTestcase@6c6cb480]">verifyCreateawishlistbtn</td> 
  <td>main@868815265</td>   <td></td> </tr>
</table>
